canvas {
	border: 2px solid burlywood;
    background: url(backgroundSand.svg);
    background-size: contain;
}

#scoreboard{
    box-sizing: border-box;
    border: 5px solid burlywood;
    border-radius: 10px;
}

body {
    background-image: url('../images/background.jpg');
    background-size: 100% auto;

    position: relative;

	border: 1px solid black;
    background-color: white;
    opacity: 1;
}

form{
    position: absolute;
    top: 90px;
    left: 350px;
    display: none;
}

button#addPlayer{
    position: absolute;
    display: none;
    top: 380px;
    left: 150px;
}

button#save{
    position: absolute;
    display: none;
    top: 380px;
    left: 250px;
}

button#back {
    position: absolute;
    display: none;
    top: 380px;
    left: 350px;
}