canvas {
    border: 5px solid saddlebrown;
    border-radius: 10px;
    background: url('../svg/backgroundSand.svg');
}

canvas#game-field {
    background: url('../images/tree.jpg');
    background-size: 100% auto;
}

canvas#score-board {
    box-sizing: border-box;
    background-size: contain;
    margin-top: 5px;
}

canvas#pop-up {
    position: absolute;
    left: 250px;
    top: 100px;
    display: none;
    border-radius: 20px;
    background-size: contain;
}

body {
    background-image: url('../images/forest.jpg');
    background-size: 100% auto;
    opacity: 1;
}

form {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 550px;
    display: none;
    font-size: 28px;
    color: rgb(195, 67, 0);
    text-shadow: -1px -1px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

form span {
    letter-spacing: 1px;
}

form input {
    height: 20px;
    margin-top: 5px;
    float: right;
}

form .form-input-label {
    float: right;
    margin-right: 0;
}

button#addPlayer {
    background: transparent url(../images/AddPlayer.png) no-repeat;
    border: none;
    position: absolute;
    color: transparent;
    width: 158px;
    height: 66px;
    display: none;
    top: 450px;
    left: 258px;
}

button#addPlayer:active {
    background-image: url(../images/AddPlayerPushed.png);
}

button#save {
    background: transparent url(../images/Save.png) no-repeat;
    border: none;
    position: absolute;
    color: transparent;
    width: 158px;
    height: 66px;
    display: none;
    top: 450px;
    left: 408px;
}

button#save:active {
    background-image: url(../images/SavePushed.png);
}

button#back {
    background: transparent url(../images/Back.png) no-repeat;
    border: none;
    position: absolute;
    color: transparent;
    width: 158px;
    height: 66px;
    display: none;
    top: 450px;
    left: 558px;
}

button#back:active {
    background-image: url(../images/BackPushed.png);
}